

.network_btn {
    background: #ffffff;
}

.network_btn GtkLabel {
    font: Bariol Bold 14;
    color: #222222;
    padding: 5px 10px;
}

.network_btn:hover {
    background: #eeeeee;
}

.network_btn.selected {
    background: @kano_orange;
}

.network_btn.selected GtkLabel {
    color: #ffffff;
}

.no_networks_label {
    font: Bariol Bold 16;
    color: #222222;
}

.refresh_btn, .refresh_btn:hover {
    background: transparent;
}

GtkScrolledWindow.border {
    border-width: 2px;
    border-color: #dddddd;
    border-style: solid;
}

.password_entry {
    font: Bariol Bold 15;
    color: #222222;
}

.show_password GtkLabel {
    color: @kano_orange;
    font: Bariol bold 13;
}

.show_password GtkLabel:insensitive {
    color: @kano_grey;
    background: transparent;
}

.grey {
    color: #dddddd;
    background: #dddddd;
}

.white {
    color: #ffffff;
    background: #ffffff;
}

.wrong_password_label {
    font: Bariol bold 15px;
    color: #e57273;
}

.transparent {
    background: transparent;
}

/************************************************
* Dark theme for Gtk.Plug
************************************************/

@define-color plug_background #44423d;

.plug GtkEntry {
    background: @plug_background;
    color: #ffffff;
}

.plug {
    background: @plug_background;
}

/* This hits too many things */
/*
.plug GtkLabel {
    color: #ffffff;
}
*/

/* This is for the Gtk.Heading - should probably be moved to toolset? */

.plug .title, .plug .description {
    color: #ffffff;
}

/* label with different color */
.plug .wrong_password_label {
    font: Bariol bold 15px;
    color: #e57273;
}

.plug GtkCheckButton {
    background: @plug_background;
}

.plug .white {
    color: @plug_background;
    background: @plug_background;
}

.plug .grey {
    color: #cccccc;
    background: #cccccc;
}

.plug .refresh_btn, .plug .refresh_btn:hover {
    background: transparent;
}

.plug .network_btn {
    background: @plug_background;
}

.plug .network_btn GtkLabel {
    font: Bariol Bold 14;
    color: #ffffff;
    padding: 5px 10px;
}

.plug .network_btn:hover {
    background: #66654d;
}

.plug .network_btn.selected {
    background: @kano_orange;
}

.plug .network_btn.selected GtkLabel {
    color: #ffffff;
}

.plug .show_password GtkLabel {
    color: #ffffff;
    font: Bariol bold 13;
}
