

.network_btn {
    background: #ffffff;
}

.network_btn GtkLabel {
    font: Bariol Bold 14;
    color: #222222;
    padding: 5px 10px;
}

.network_btn:hover {
    background: #eeeeee;
}

.no_networks_label {
    font: Bariol Bold 16;
    color: #222222;
}

.network_btn.selected {
    background: @kano_orange;
}

.network_btn.selected GtkLabel {
    color: #ffffff;
}

.refresh_btn, .refresh_btn:hover {
    background: transparent;
}

GtkScrolledWindow.border {
    border-width: 2px;
    border-color: #dddddd;
    border-style: solid;
}

.password_entry {
    font: Bariol Bold 15;
    color: #222222;
}

.show_password GtkLabel {
    color: @kano_orange;
    font: Bariol bold 13;
}

.show_password GtkLabel:insensitive {
    color: @kano_grey;
    background: transparent;
}

.grey {
    color: #dddddd;
    background: #dddddd;
}

.white {
    color: #ffffff;
    background: #ffffff;
}
