

.network_btn {
    background: #ffffff;
}

.network_btn GtkLabel {
    font: Bariol Bold 14;
    color: #222222;
    padding: 5px 10px;
}

.network_btn:hover {
    background: #eeeeee;
}

.network_btn.selected {
    background: @kano_orange;
}

.network_btn.selected GtkLabel {
    color: #ffffff;
}

.no_networks_label {
    font: Bariol Bold 16;
    color: #222222;
}

.refresh_btn, .refresh_btn:hover {
    background: transparent;
}

GtkScrolledWindow.border {
    border-width: 2px;
    border-color: #dddddd;
    border-style: solid;
}

.password_entry {
    font: Bariol Bold 15;
    color: #222222;
}

.show_password GtkLabel {
    color: @kano_orange;
    font: Bariol bold 13;
}

.show_password GtkLabel:insensitive {
    color: @kano_grey;
    background: transparent;
}

.grey {
    color: #dddddd;
    background: #dddddd;
}

.white {
    color: #ffffff;
    background: #ffffff;
}

/************************************************
* Dark theme for Gtk.Plug
************************************************/

@define-color plug_background #44423d;

.plug GtkEntry {
    background: @plug_background;
    color: #ffffff;
}

.plug {
    background: @plug_background;
}

.plug GtkLabel {
    color: #ffffff;
}

.plug GtkCheckButton {
    background: @plug_background;
}

.plug .title {
    color: #ffffff;
    padding-top:30px;
    font: Bariol Bold 20px;
}

.plug .description {
    color: #dedfde;
    padding-left: 30px;
    padding-right: 30px;
    font: Bariol 14;
}

.plug .white {
    color: @plug_background;
    background: @plug_background;
}

.plug .grey {
    color: #cccccc;
    background: #cccccc;
}

.plug .refresh_btn, .plug .refresh_btn:hover {
    background: transparent;
}

.plug .network_btn {
    background: @plug_background;
}

.network_btn GtkLabel {
    font: Bariol Bold 14;
    color: #ffffff;
    padding: 5px 10px;
}

.network_btn:hover {
    background: #66654d;
}

.network_btn.selected {
    background: @kano_orange;
}

.network_btn.selected GtkLabel {
    color: #ffffff;
}
