[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Settings
Name[en_GB]=Settings
Icon=/usr/share/kano-apps/icons/kano-settings.png
Exec=sudo /usr/bin/kano-launcher /usr/bin/kano-settings settings
Comment[en_GB]=Kanux system settings
Categories=Extras;
StartupNotify=true
Help=Crank up the volume, change your screen size and more in settings: the one-stop shop for setting up your Kano!
