#!/bin/sh

#
# rc.network
#
# Copyright (C) 2014 Kano Computing Ltd.
# License: http://www.gnu.org/licenses/gpl-2.0.txt GNU General Public License v2
#
# - automatically connect to a cached wireless network
#

# FIXME: On a Kano OS 4.2.0 only, to fix a timing issue
#        that restores wireless connections at boot time
#
/bin/sleep 10

# Is the wireless dongle plugged in?
device_type="wlan"
wlan_device=`grep --max-count=1 $device_type /proc/net/dev | \
             sed -r 's/^.*(wlan[[:digit:]]).*$/\1/'`
if [ ! "$wlan_device" = "" ]; then
    python /usr/bin/kano-connect -c $wlan_device &
fi
