Source: kano-settings
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9)

Package: kano-settings
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gi
Description: Graphical tool to set different system settings
