Source: kano-settings
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends:
    build-essential,
    debhelper (>= 9),
    libfm-dev,
    libgtk2.0-dev,
    libkano-networking-dev,
    libkdesk-dev,
    lxpanel (>= 0.7.0),
    lxpanel-dev,
    pkg-config

Package: kano-settings
Architecture: any
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    avahi-daemon,
    bluetooth,
    dante-client,
    gir1.2-gtk-3.0,
    kano-connect (= ${binary:Version}),
    kano-content,
    kano-i18n,
    kano-profile (>= 2.1-1),
    kano-toolset (>= 3.7.0-1),
    libkdesk-dev,
    libnss-mdns,
    lxpanel,
    pi-bluetooth,
    policykit-1,
    python,
    python-bs4,
    python-gi,
    python-pycountry,
    sentry (>= 0.5-1)
Recommends: kano-fonts
Breaks: kano-init (<<3.2.0-1)
Description: Graphical tool to set different system settings
 This application is a GUI frontend to set multiple Kano OS functionalities
 like Wireless, Keyboard layout, Screen options, and Proxy.

Package: kano-connect
Architecture: any
Depends:
    ${misc:Depends},
    ${shlibs:Depends},
    dhcpcd5,
    kano-toolset (>= 4.2.1-0),
    libkano-networking,
    libkdesk-dev,
    python,
    rxvt-unicode-256color
Description: Software to make Kanux connect over Wireless networks
 automatically.

Package: kano-settings-i18n-orig
Architecture: all
Description: Data for working on translations of kano-settings
Multi-Arch: foreign
