Source: kano-settings
Maintainer: Team Kano <dev@kano.me>
Section: admin
Priority: optional
Standards-Version: 3.9.2
Build-Depends: debhelper (>= 9), build-essential, pkg-config, libgtk2.0-dev,
               libmenu-cache1-dev, lxpanel, libfm-gtk1, libfm-dev, libkdesk-dev

Package: kano-settings
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-gi, dante-client,
         kano-toolset (>= 1.2-2), kano-profile, gir1.2-gtk-3.0, libkdesk-dev
Recommends: kano-fonts
Description: Graphical tool to set different system settings
 This application is a GUI frontend to set multiple Kano OS functionalities
 like Wireless, Keyboard layout, Screen options, and Proxy.

Package: kano-connect
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, udhcpc,
         rxvt-unicode-256color, kano-toolset, libkdesk-dev
Description: Software to make Kanux connect over Wireless networks automatically.
